h1{
    color: green;z
}
h2{
    color:red;
}

.purple {
    background-color: purple;
}

.black{
    background: black
}
.left{
    width: 40%;
    float: left;
}
.right{
    width: 60%;
    float: right;
}
.content{
    width: 1000px;
}
img{
    width: 100%;
}
